<article>
<div class="comment-header">
  <h4><a href="/user/<%= comment.user.id %>"><%= comment.user.name %></a> <small><%= date(comment.created_at) %></small></h4>
</div>

<div class="comment-body">
  <p><%= comment_body(comment) %></p>
</div>
</article>
<div class="comment-comments">
  <ul>
    <% comment.comments.each do |comment| %>
      <li><%= partial :_comment, :comment => comment %></li>
    <% end %>
  </ul>
</div>