<article>
  <!-- <div class='post-voter' id='<%= @post.id %>'></div> -->
  <%= partial :_voter, :item => @post %>
  <div class="post-header">
    <h2><%= @post.title %></h2>
    <h4><a href="/user/<%= @post.user.id %>"><%= @post.user.name %></a> <small><%= date(@post.created_at) %></small> 

      <% if @post.post_id %><a href="/post/<%= @post.post_id %>">Parent</a><% end %>

    </h4>
  </div>

  <div class="post-body">
    <p><%= post_body %></p>
  </div>
</article>
<div class="post-comments">
  <ul>
    <% @comments.each do |comment| %>
    <li><%= partial :_comment, :comment => comment %></li>
    <% end %>
  </ul>
</div>